<select id="drinks" name="drinks">
    <option value="17222">A1</option>
    <option value="13501">ABC</option>
    <option value="17225">Ace</option>
    <option value="14610">ACID</option>
    <option value="17837">Adam</option>
    <option value="13938">AT&T</option>
    <option value="17833">A. J.</option>
    <option value="15266">Avalon</option>
    <option value="15106">Apello</option>
    <option value="17839">Affair</option>
    <option value="17835">Abilene</option>
    <option value="11023">Almeria</option>
    <option value="17228">Addison</option>
    <option value="11046">Applecar</option>
    <option value="17836">Acapulco</option>
    <option value="17840">Affinity</option>
    <option value="17180">Aviation</option>
    <option value="15182">After sex</option>
    <option value="16311">Applejack</option>
    <option value="12560">Afterglow</option>
    <option value="13162">Afternoon</option>
    <option value="11014">Alexander</option>
    <option value="12756">Autodafé</option>
    <option value="11021">Allegheny</option>
    <option value="15941">Americano</option>
    <option value="15853">B-52</option>
    <option value="13332">B-53</option>
    <option value="17254">Bijou</option>
    <option value="11149">Boxcar</option>
    <option value="13222">Big Red</option>
    <option value="17195">Bellini</option>
    <option value="17210">Bramble</option>
    <option value="11060">Balmoral</option>
    <option value="11120">Bluebird</option>
    <option value="178310">Brooklyn</option>
    <option value="12572">Bora Bora</option>
    <option value="11124">Boomerang</option>
    <option value="17209">Barracuda</option>
    <option value="17825">Brigadier</option>
    <option value="178311">Broadside</option>
    <option value="17035">Buccaneer</option>
    <option value="17120">Brain Fart</option>
    <option value="11106">Blackthorn</option>
    <option value="13395">Bob Marley</option>
    <option value="16986">Bible Belt</option>
    <option value="14730">Bubble Gum</option>
    <option value="14538">Bumble Bee</option>
    <option value="15511">Baby Eskimo</option>
    <option value="11129">Boston Sour</option>
    <option value="17267">Bahama Mama</option>
    <option value="17185">Casino</option>
    <option value="14181">Cafe Savoy</option>
    <option value="11202">Caipirinha</option>
    <option value="14608">Cream Soda</option>
    <option value="13751">Cuba Libra</option>
    <option value="11239">Cherry Rum</option>
    <option value="11288">Cuba Libre</option>
    <option value="17830">Corn n Oil</option>
    <option value="17135">Citrus Coke</option>
    <option value="11222">Casa Blanca</option>
    <option value="17186">Clover Club</option>
    <option value="13206">Caipirissima</option>
    <option value="11251">City Slicker</option>
    <option value="16047">Campari Beer</option>
    <option value="11242">Chicago Fizz</option>
    <option value="17196">Cosmopolitan</option>
    <option value="12800">Coffee-Vodka</option>
    <option value="11224">Casino Royale</option>
    <option value="17250">Corpse Reviver</option>
    <option value="13328">Chocolate Milk</option>
    <option value="11255">Clove Cocktail</option>
    <option value="12798">Coffee Liqueur</option>
    <option value="17108">Coke and Drops</option>
    <option value="12734">Chocolate Drink</option>
    <option value="12890">Cranberry Punch</option>
    <option value="17187">Derby</option>
    <option value="13128">Diesel</option>
    <option value="11006">Daiquiri</option>
    <option value="15409">Danbooka</option>
    <option value="16991">Downshift</option>
    <option value="11320">Dragonfly</option>
    <option value="11005">Dry Martini</option>
    <option value="11324">Dry Rob Roy</option>
    <option value="14466">Dirty Nipple</option>
    <option value="17181">Dirty Martini</option>
    <option value="14482">Darkwood Sling</option>
    <option value="17211">Dark and Stormy</option>
    <option value="17177">Dark Caipirinha</option>
    <option value="17182">Duchamp's Punch</option>
    <option value="13194">Damned if you do</option>
    <option value="11326">Dubonnet Cocktail</option>
    <option value="12736">Drinking Chocolate</option>
    <option value="178334">Death in the Afternoon</option>
    <option value="12668">Egg Cream</option>
    <option value="12910">Egg Nog #4</option>
    <option value="11338">English Highball</option>
    <option value="17212">Espresso Martini</option>
    <option value="178309">Espresso Rumtini</option>
    <option value="12916">Egg Nog - Healthy</option>
    <option value="11339">English Rose Cocktail</option>
    <option value="178346">Elderflower Caipirinha</option>
    <option value="12914">Egg-Nog - Classic Cooked</option>
    <option value="17246">Empellón Cocina's Fat-Washed Mezcal</option>
    <option value="178352">Frosé</option>
    <option value="12768">Frappé</option>
    <option value="11375">Foxy Lady</option>
    <option value="17197">French 75</option>
    <option value="178344">Figgy Thyme</option>
    <option value="11382">Frisco Sour</option>
    <option value="12674">Fruit Shake</option>
    <option value="12670">Fruit Cooler</option>
    <option value="14688">Freddy Kruger</option>
    <option value="178328">Funk and Soul</option>
    <option value="15743">Fuzzy Asshole</option>
    <option value="17213">French Martini</option>
    <option value="17248">French Negroni</option>
    <option value="13070">Fahrenheit 5000</option>
    <option value="11368">Flying Dutchman</option>
    <option value="11387">Frozen Daiquiri</option>
    <option value="12672">Fruit Flip-Flop</option>
    <option value="11369">Flying Scotchman</option>
    <option value="17198">French Connection</option>
    <option value="13202">Flaming Dr. Pepper</option>
    <option value="16485">Flaming Lamborghini</option>
    <option value="13675">Flander's Flake-Out</option>
    <option value="11390">Frozen Mint Daiquiri</option>
    <option value="11391">Frozen Pineapple Daiquiri</option>
    <option value="15997">GG</option>
    <option value="17255">Gimlet</option>
    <option value="11422">Godchild</option>
    <option value="11410">Gin Fizz</option>
    <option value="11417">Gin Sour</option>
    <option value="12758">Gagliardo</option>
    <option value="11424">Godmother</option>
    <option value="11423">Godfather</option>
    <option value="12944">Gluehwein</option>
    <option value="178365">Gin Tonic</option>
    <option value="11420">Gin Toddy</option>
    <option value="11416">Gin Smash</option>
    <option value="11408">Gin Daisy</option>
    <option value="178366">Gin Lemon</option>
    <option value="11415">Gin Sling</option>
    <option value="17252">Greyhound</option>
    <option value="17230">Gin Rickey</option>
    <option value="11418">Gin Squirt</option>
    <option value="15427">Grand Blue</option>
    <option value="11407">Gin Cooler</option>
    <option value="11419">Gin Swizzle</option>
    <option value="11433">Grass Skirt</option>
    <option value="17200">Grasshopper</option>
    <option value="14642">Grim Reaper</option>
    <option value="178342">Gin and Soda</option>
    <option value="16262">H.D.</option>
    <option value="178316">Honey Bee</option>
    <option value="178345">Hot Toddy</option>
    <option value="15813">Herbal flame</option>
    <option value="17202">Horse's Neck</option>
    <option value="12766">Happy Skipper</option>
    <option value="17239">Hunter's Moon</option>
    <option value="178313">Halloween Punch</option>
    <option value="11470">Havana Cocktail</option>
    <option value="12954">Holloween Punch</option>
    <option value="17044">Homemade Kahlua</option>
    <option value="14782">Hot Creamy Bush</option>
    <option value="11462">Harvey Wallbanger</option>
    <option value="11472">Hawaiian Cocktail</option>
    <option value="17201">Hemingway Special</option>
    <option value="11476">Highland Fling Cocktail</option>
    <option value="12738">Hot Chocolate to Die for</option>
    <option value="17176">Ipamena</option>
    <option value="13539">Ice Pick</option>
    <option value="12770">Iced Coffee</option>
    <option value="12820">Irish Cream</option>
    <option value="13971">Irish Coffee</option>
    <option value="11528">Irish Spring</option>
    <option value="11524">Imperial Fizz</option>
    <option value="17015">Irish Russian</option>
    <option value="12706">Imperial Cocktail</option>
    <option value="12772">Iced Coffee Fillip</option>
    <option value="16987">Irish Curdling Cow</option>
    <option value="17178">Jam Donut</option>
    <option value="16178">Jitterbug</option>
    <option value="13847">Jackhammer</option>
    <option value="13775">Jelly Bean</option>
    <option value="14956">Jello shots</option>
    <option value="14095">Jamaica Kiss</option>
    <option value="11580">John Collins</option>
    <option value="11558">Japanese Fizz</option>
    <option value="15825">Jamaican Coffee</option>
    <option value="12688">Just a Moonmint</option>
    <option value="11566">Jewel Of The Nile</option>
    <option value="11542">Jack Rose Cocktail</option>
    <option value="16275">Jack's Vanilla Coke</option>
    <option value="17203">Kir</option>
    <option value="12764">Karsk</option>
    <option value="11600">Kamikaze</option>
    <option value="13837">Kir Royale</option>
    <option value="14752">Kiwi Lemon</option>
    <option value="14456">Kurant Tea</option>
    <option value="16951">Kioki Coffee</option>
    <option value="178359">Kiwi Martini</option>
    <option value="15026">Kiss me Quick</option>
    <option value="13190">Kool-Aid Shot</option>
    <option value="17006">Kool First Aid</option>
    <option value="11602">Kentucky B And B</option>
    <option value="11604">Kentucky Colonel</option>
    <option value="14446">Kool-Aid Slammer</option>
    <option value="12714">Kiwi Papaya Smoothie</option>
    <option value="12720">Kill the cold Smoothie</option>
    <option value="12704">Limeade</option>
    <option value="14378">Lunch Box</option>
    <option value="14366">Lemon Drop</option>
    <option value="12752">Lemon Shot</option>
    <option value="13196">Long vodka</option>
    <option value="12692">Lassi Khara</option>
    <option value="12694">Lassi Raita</option>
    <option value="12702">Lemouroudji</option>
    <option value="11658">Loch Lomond</option>
    <option value="11662">London Town</option>
    <option value="12698">Lassi - Mango</option>
    <option value="12696">Lassi - Sweet</option>
    <option value="15086">Limona Corona</option>
    <option value="11670">Lord And Lady</option>
    <option value="11634">Lady Love Fizz</option>
    <option value="11002">Long Island Tea</option>
    <option value="11666">Lone Tree Cooler</option>
    <option value="11664">Lone Tree Cocktail</option>
    <option value="178335">Lazy Coconut Paloma</option>
    <option value="17204">Long Island Iced Tea</option>
    <option value="178360">Lemon Elderflower Spritzer</option>
    <option value="12690">Lassi - A South Indian Drink</option>
    <option value="12776">Melya</option>
    <option value="11000">Mojito</option>
    <option value="17205">Mimosa</option>
    <option value="11690">Mai Tai</option>
    <option value="11728">Martini</option>
    <option value="178343">Michelada</option>
    <option value="11008">Manhattan</option>
    <option value="11007">Margarita</option>
    <option value="178370">Mauresque</option>
    <option value="17206">Mint Julep</option>
    <option value="16041">Mudslinger</option>
    <option value="17256">Martinez 2</option>
    <option value="16196">Moranguito</option>
    <option value="13936">Miami Vice</option>
    <option value="11009">Moscow Mule</option>
    <option value="12988">Mulled Wine</option>
    <option value="12774">Masala Chai</option>
    <option value="178315">Munich Mule</option>
    <option value="14209">Mocha-Berry</option>
    <option value="178358">Mango Mojito</option>
    <option value="15841">Mojito Extra</option>
    <option value="17189">Monkey Gland</option>
    <option value="14842">Midnight Mint</option>
    <option value="17188">Mary Pickford</option>
    <option value="11798">Monkey Wrench</option>
    <option value="11003">Negroni</option>
    <option value="11844">New York Sour</option>
    <option value="13861">Nutty Irishman</option>
    <option value="13192">National Aquarium</option>
    <option value="13204">New York Lemonade</option>
    <option value="12746">Nuked Hot Chocolate</option>
    <option value="11872">Orgasm</option>
    <option value="17827">Old Pal</option>
    <option value="178371">Old Cuban</option>
    <option value="12618">Orangeade</option>
    <option value="16995">Orange Whip</option>
    <option value="15330">Orange Crush</option>
    <option value="11870">Orange Oasis</option>
    <option value="11001">Old Fashioned</option>
    <option value="13499">Oreo Mudslide</option>
    <option value="17266">Oatmeal Cookie</option>
    <option value="14586">Orange Push-up</option>
    <option value="178341">Orange Rosemary Collins</option>
    <option value="12748">Orange Scented Hot Chocolate</option>
    <option value="13200">Owen's Grandmother's Revenge</option>
    <option value="17253">Paloma</option>
    <option value="17190">Paradise</option>
    <option value="11936">Pink Gin</option>
    <option value="17249">Pegu Club</option>
    <option value="11938">Pink Lady</option>
    <option value="178354">Pink Moon</option>
    <option value="17829">Penicillin</option>
    <option value="13214">Pisco Sour</option>
    <option value="17192">Porto flip</option>
    <option value="17207">Pina Colada</option>
    <option value="16992">Pink Penocha</option>
    <option value="178338">Pure Passion</option>
    <option value="13072">Popped cherry</option>
    <option value="11959">Poppy Cocktail</option>
    <option value="11965">Port Wine Flip</option>
    <option value="17191">Planter's Punch</option>
    <option value="178327">Pineapple Paloma</option>
    <option value="178357">Pornstar Martini</option>
    <option value="178368">Planter’s Punch</option>
    <option value="11961">Port And Starboard</option>
    <option value="11963">Port Wine Cocktail</option>
    <option value="15092">Pysch Vitamin Light</option>
    <option value="13535">Pink Panty Pulldowns</option>
    <option value="178323">Passion Fruit Martini</option>
    <option value="12718">Pineapple Gingerale Smoothie</option>
    <option value="11993">Quentin</option>
    <option value="11987">Queen Bee</option>
    <option value="13198">Quick F**K</option>
    <option value="15761">Quick-sand</option>
    <option value="11989">Queen Charlotte</option>
    <option value="11991">Queen Elizabeth</option>
    <option value="11983">Quaker's Cocktail</option>
    <option value="11985">Quarter Deck Cocktail</option>
    <option value="17208">Rose</option>
    <option value="16031">Radler</option>
    <option value="12093">Rum Sour</option>
    <option value="14978">Rum Punch</option>
    <option value="12097">Rum Toddy</option>
    <option value="12055">Royal Fizz</option>
    <option value="12071">Rum Cooler</option>
    <option value="16250">Rum Runner</option>
    <option value="12101">Rusty Nail</option>
    <option value="14087">Red Snapper</option>
    <option value="17122">Royal Bitch</option>
    <option value="15082">Royal Flush</option>
    <option value="12067">Rum Cobbler</option>
    <option value="17114">Ruby Tuesday</option>
    <option value="12630">Rail Splitter</option>
    <option value="17245">Rosemary Blue</option>
    <option value="178367">Ramos Gin Fizz</option>
    <option value="12057">Royal Gin Fizz</option>
    <option value="12087">Rum Milk Punch</option>
    <option value="178333">Raspberry Julep</option>
    <option value="12091">Rum Screwdriver</option>
    <option value="17167">Raspberry Cooler</option>
    <option value="12089">Rum Old-fashioned</option>
    <option value="17214">Russian Spring Punch</option>
    <option value="16984">Radioactive Long Island Iced Tea</option>
    <option value="17141">Smut</option>
    <option value="17215">Spritz</option>
    <option value="12130">Scooter</option>
    <option value="13020">Sangria</option>
    <option value="17193">Stinger</option>
    <option value="12127">Sazerac</option>
    <option value="12196">Sidecar</option>
    <option value="178349">Snowday</option>
    <option value="178322">Spice 75</option>
    <option value="14195">Snowball</option>
    <option value="16985">Shot-gun</option>
    <option value="12107">Salty Dog</option>
    <option value="12308">Stone Sour</option>
    <option value="13377">Sea breeze</option>
    <option value="12158">Scotch Sour</option>
    <option value="16990">Sweet Tooth</option>
    <option value="12162">Screwdriver</option>
    <option value="12190">Sherry Flip</option>
    <option value="12256">Sol Y Sombra</option>
    <option value="16273">Shark Attack</option>
    <option value="15184">San Francisco</option>
    <option value="15226">Space Odyssey</option>
    <option value="12188">Sherry Eggnog</option>
    <option value="12724">Sweet Bananas</option>
    <option value="13024">Sweet Sangria</option>
    <option value="12388">Thriller</option>
    <option value="178350">The Galah</option>
    <option value="12856">Tia-Maria</option>
    <option value="17828">Tipperary</option>
    <option value="15006">Turkeyball</option>
    <option value="15639">Texas Sling</option>
    <option value="12782">Thai Coffee</option>
    <option value="12402">Tom Collins</option>
    <option value="12726">Tomato Tang</option>
    <option value="14860">Talos Coffee</option>
    <option value="15515">Tennesee Mud</option>
    <option value="12362">Tequila Fizz</option>
    <option value="12370">Tequila Sour</option>
    <option value="12786">Thai Iced Tea</option>
    <option value="17247">The Last Word</option>
    <option value="12418">Turf Cocktail</option>
    <option value="17824">The Laverstoke</option>
    <option value="178307">Tequila Slammer</option>
    <option value="13621">Tequila Sunrise</option>
    <option value="178330">The Philosopher</option>
    <option value="12420">Tuxedo Cocktail</option>
    <option value="14602">Tequila Surprise</option>
    <option value="12784">Thai Iced Coffee</option>
    <option value="17826">The Jimmy Conway</option>
    <option value="15178">Texas Rattlesnake</option>
    <option value="17218">Vesper</option>
    <option value="12450">Victor</option>
    <option value="17217">Vampiro</option>
    <option value="12444">Vesuvio</option>
    <option value="12446">Veteran</option>
    <option value="12436">Van Vleet</option>
    <option value="16967">Vodka Fizz</option>
    <option value="178363">Vodka Lemon</option>
    <option value="178362">Vodka Slime</option>
    <option value="178364">Vodka Tonic</option>
    <option value="14167">Vodka Martini</option>
    <option value="15403">Vodka Russian</option>
    <option value="12442">Vermouth Cassis</option>
    <option value="12452">Victory Collins</option>
    <option value="12460">Vodka And Tonic</option>
    <option value="12434">Valencia Cocktail</option>
    <option value="12518">Whisky Mac</option>
    <option value="17194">White Lady</option>
    <option value="13058">Wine Punch</option>
    <option value="13056">Wine Cooler</option>
    <option value="178347">Winter Rita</option>
    <option value="11004">Whiskey Sour</option>
    <option value="12528">White Russian</option>
    <option value="178348">Winter Paloma</option>
    <option value="178326">White Wine Sangria</option>
    <option value="16158">Whitecap Margarita</option>
    <option value="12474">Waikiki Beachcomber</option>
    <option value="17219">Yellow Bird</option>
    <option value="12728">Yoghurt Cooler</option>
    <option value="15328">Zorro</option>
    <option value="14888">Zinger</option>
    <option value="15691">Zoksel</option>
    <option value="17241">Zombie</option>
    <option value="15933">Zambeer</option>
    <option value="16963">Zorbatini</option>
    <option value="15254">Zenmeister</option>
    <option value="16942">Zipperhead</option>
    <option value="17027">Zima Blaster</option>
    <option value="14594">Zizi Coin-coin</option>
    <option value="15801">Zimadori Zinger</option>
    <option value="14065">Zippy's Revenge</option>
    <option value="14157">Ziemes Martini Apfelsaft</option>    
</select>